{% extends 'base.html.twig' %}

{% block title %}Become an Author{% endblock %}

{% block body %}
    <h2>Creating your author</h2>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
                {{ message }}
        {% endfor %}
    {% endfor %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.shortBio) }}
        {{ form_row(form.email) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}