{% extends 'base.html.twig' %}
{% block title %}My Blog{% endblock %}
{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <a type="button" href="{{ path('admin_create_post') }}">Post a New Blog</a>
    {% if blogPosts %}
    <table>
        <thead>
            <th>Title</th>
            <th>Category</th>
            <th>SubTime</th>
        </thead>
        {% for blogPost in blogPosts %}
            <tr>
                <td><a href="{{ path('admin_show_post', {'slug': blogPost.slug}) }}">{{ blogPost.title }}</a> </td>
                <td>{{ blogPost.category }}</td>
                <td>{{ blogPost.subtime|date('F j, Y') }}</td>
                <td><a type="button" href="{{ path('admin_edit_post', {'slug': blogPost.slug}) }}">Edit</a> </td>
                <td><a type="button" href="{{ path('admin_delete_post', {'postId': blogPost.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>You haven't created a blog yet.</p>
    {% endif %}
{% endblock %}

