{% extends "base.html.twig" %}
{% block title %}{{ blogPost.title }}{% endblock %}
{% block body %}
<h2>{{ blogPost.title }}</h2>
<p><a href="{{ path('show_author', {'name': blogPost.author.name}) }}">{{ blogPost.author.name }}</a> {{ blogPost.subtime|date('F j, Y') }}</p>
<p>{{ blogPost.body }}</p>
{% endblock %}