{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('homepage') }}">Latest Posts</a>
    <a href="{{ path('show_category', {'category': 'news'}) }}">News</a>
    <a href="{{ path('show_category', {'category': 'sports'}) }}">Sports</a>
    <a href="{{ path('show_category', {'category': 'entertainment'}) }}">Entertainment</a>
    <a href="{{ path('show_category', {'category': 'technology'}) }}">Technology</a>
    <a href="{{ path('show_category', {'category': 'lifestyle'}) }}">Lifestyle</a>
    {% if blogPosts %}
        <table>
            <thead>
            <th>Title</th>
            <th>Author</th>
            <th>SubTime</th>
            </thead>
            {% for blogPost in blogPosts %}
                <tr>
                    <td><a href="{{ path('show_post', {'slug': blogPost.slug}) }}">{{ blogPost.title }}</a> </td>
                    <td><a href="{{ path('show_author', {'name': blogPost.author.name}) }}">{{ blogPost.author.name }}</a> </td>
                    <td>{{ blogPost.subtime|date('F j, Y') }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no posts in the current category.</p>
    {% endif %}
{% endblock %}